.state0 {
  -fx-fill: gray;
}

.state1 {
  -fx-fill: red;
}

.state2 {
  -fx-fill: black;
}

.state3 {
  -fx-fill: green;
}

.state4 {
  -fx-fill: blue;
}

.state5 {
  -fx-fill: magenta;
}

.button {
  -fx-background-color: black;
  -fx-text-fill: white;
}

.combo-box-base, .list-view, .list-cell {
  -fx-background-color: black;
  -fx-text-fill: white;
}